*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    width: 80%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    margin: 0 auto;
    
}

.info-left{
    background-color: #dfe4ea;
    padding-left: 2rem;
    padding-top: 4rem;
    font-size: 1.5em;
    font-variant: small-caps;
}
.info-left h2{
    display: none;
}
.info-left .list ul li a{
 color: #3742fa;

}
.info-left .list ul li{
    padding-bottom: 2rem;
}


.info-right h2{
    font-size: 2.5em;
}
.info-right p{
    font-size: 1.2em; 
    line-height: 1.5em;
}
.info-right{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 40% 40%;
    gap: 2rem;
    background-color:#f1f2f6;
    padding-top: 2rem;
    padding-left: 1em;
    
}
.info-right img{
    width: 100%;
    max-width: 325px;
    background-color: #ced6e0;
}

@media (max-width: 1264px){

    main .about{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% auto ;
        grid-template-areas: "1"
        "2";
    }

.about .info-left .list{
    grid-area: 1;   
}
.about .info-left .list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 0.8em;
}
.info-left{
    padding-top: 1rem;  
}

.about .info-right{
    grid-area: 2;
}

}

@media (min-width: 300px) and (max-width: 700px) {
   .wrapper{
       width: 100%;
   } 
   
   .info-right{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       gap: 0;
       padding-left: 0.5em;
       padding-right: 0.5em;
   }
   
   .info-right h2{
    font-size: 2em;
    padding-bottom: 0.5em;
}
.about .info-left .list ul a{
    font-size: 0.7em;
}
.info-right img{
    display: none;
}

}