*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}
.navbar{
    display: grid;
    grid-template-columns: 45% auto;
    width: 100%;
    height: 74px;
    background-color: #a4b0be;
    padding-right: 2em;
    padding-left: 2em;
}

.nav-content, .nav-content ul li a{
    color: #2f3542;

}
.nav-content .fa-tooth{
    font-size: 2.4em;
}
 .nav-content h2{
    font-size: 2em;
}
.navbar .nav-content, .nav-content ul li{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, max-content));
    align-items: center;
}
/*Centrera links content*/
.navbar .nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.navbar .nav-content ul li a{
    font-size: 1.2em;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
}



@media (max-width: 700px){

    .navbar{
        display: grid;
        grid-template-columns: 30% 50%;
        gap: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-content .fa-tooth{
        font-size: 2em;
    }
    .navbar .nav-content h2{
        font-size: 1.3em;
    }
}
/*
@media (min-width: 300px) and (max-width: 700px){

    .navbar .nav-content ul li a{
        font-size: 1em;
        padding:0;
    }
    .nav-content .fa-tooth{
        font-size: 1.5em;
    }
    .navbar .nav-content h2{
        font-size: 1em;
    }
}